<ion-header>
  <ion-toolbar>
    <ion-title color="primary">{{id==0? 'Nuevo': 'Editar'}} Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="guardarCambios()">
        <ion-icon name="save"></ion-icon> Grabar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="guardarCambios()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="objProducto.Nombre"
        name="Nombre"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="objProducto.Precio"
        name="Precio"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="objProducto.Descripcion"
        name="Descripcion"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Proveedor</ion-label>
      <ion-select [(ngModel)]="objProducto.ProveedorId" name="ProveedorID">
        <ion-select-option
          *ngFor="let proveedor of listaProveedores"
          [value]="proveedor.ProveedorID"
        >
          {{ proveedor.Nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" (click)="backToProductos()" color="danger">
      <ion-icon></ion-icon> Cancelar
    </ion-button>
  </form>
</ion-content>
